<footer class="site-footer clearfix ">
  <section class="copyright">
  	<a href="//www.fecoding.cn/" target="_blank">逆葵</a> © 2016-2018
  </section>
  <section class="poweredby ">
  	Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/ChrisCindy/skywalker">SkyWalker </a>
  </section>
  <section>
	<a href="//www.miitbeian.gov.cn/" target="_blank">京ICP备XXXXXXXX号</a>
  </section>
</footer>
